{% extends "base.html" %}
{% load static %}
{% block page_head %}
UserProfile Details
{% endblock page_head %}

{% block content %}
<div class="container">

<section class="section section-stats">
<div class="card-panel" >
<!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
<div class="container">
<img class="img-circle" {% if userprofiledata.profile_pic is None %} src="{% get_media_prefix %}image/avatar.png" {% else %} src= "{% get_media_prefix %}{{userprofiledata.profile_pic}}"{% endif %} { width ="80" height="80"/>
<div class="content"><small><a  href = "{% url 'userprofile-image' userprofiledata.username %}"  >change</a></small></div>
<h1> UserProfile <a class="btn btn-large btn-theme margintop10" href = "{% url 'userprofile-update' userprofiledata.username %}" style="float:right"  >Update Profile </a></h1>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
<strong> Username : </strong> {{userprofiledata.username|title}}
<br/>
<strong> First Name : </strong> {{userprofiledata.first_name|title}}
<br/>
<strong> Last Name : </strong> {{userprofiledata.last_name|title}}
<br/>
<strong> Gender : </strong> {{userprofiledata.gender}}
<br/>
<strong> Age : </strong> {{userprofiledata.age}}
<br/>
<strong> Address : </strong> {{userprofiledata.address}}, {{userprofiledata.city}}, {{userprofiledata.state}}
<br/>
<strong> Contact Number : </strong> {{userprofiledata.contact_no}}
<br/>
<strong> Volunteer : </strong> {% if is_volunteer is False %}
 Yes &nbsp; &nbsp; <a  class="btn btn-large btn-theme margintop10" href = "{% url 'volunteer-update' userprofiledata.username %}"  >Update </a>
  {% else %} No &nbsp; <a class="btn btn-large btn-theme margintop10" href = "{% url 'volunteer-create' %}"  > Register </a>
{% endif %} 
<br/>
<strong> NGO Member : </strong>{% if userprofiledata.is_ngo_member %}
 Yes &nbsp; &nbsp; <a class="btn btn-large btn-theme margintop10" href = "{% url 'ngo-member-update' userprofiledata.username %}"  >Update </a>
  {% else %} No &nbsp; <a class="btn btn-large btn-theme margintop10" href = "{% url 'ngo-member-create' %}"  > Register </a>
{% endif %}
<br/>
<a class="btn btn-large btn-theme margintop8" href = "{% url 'home' %}"  >Back </a>
<br/>

        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->

</div>

</section>
</div>

{% endblock content %}