{% extends "base.html" %}
{% block page_head %}
Delete Comment
{% endblock page_head %}
{% block content %}
<section class="section section-stats">
<div class="card-panel" >
<form method = "POST" >
{% csrf_token %}
<h2> Are you sure you want to delete NGO member </h2>
<strong> {{ngomember.username|title}}  </strong><small> from {{ngomember.ngo_name|title}} </small></h4><br/>
<br/>
{% for ngo in ngos %}
{% if ngomember.username == ngo.manager_name and ngomember.ngo_name == ngo.name%}
<button class="btn btn-large btn-theme margintop10" type="submit"  >Yes, Delete</button>
{% endif %}
{% endfor %}
{% if user.is_staff or ngomember.username == user.username  %}
<button class="btn btn-large btn-theme margintop10" type="submit"  >Yes, Delete</button>
{% endif %}
<a class="btn btn-large btn-theme margintop10" href = "{% url 'ngo-member-detail' ngomember.username %}"  >Cancel</a>
</form>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
</div>
</section>
</div>
{% endblock content %}
