{% extends "base.html" %}
{% load static %}    
{% block page_head %}
Volunteers Verification
{% endblock page_head %}
{% block content %}
<div class="container">

<section class="section section-stats">
<div class="card-panel" >
<h6> Note: <small> Volunteers Should be Verified by NAtion Builders Team.</small> </h6>
<!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->            
<h4> {{volunteer.username|title}}</h4>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
<strong> Full Name : </strong> {{volunteer.first_name|title}} {{volunteer.last_name|title}}  
<br/>
<strong> Email : </strong> {{volunteer.email}}
<br/>
<strong> contact no : </strong> {{volunteer.contact_no}}
<br/>
<strong> Adharno  : </strong> {{volunteer.Adharno }}
<br/>
<strong> volunteer Id : </strong> {{volunteer.volunteer_id}}
<br/>
<strong> Verified : </strong> {{volunteer.verified}}
<br/><!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider --> 
{% if user.is_staff %}
<form method="POST">
{% csrf_token %}
{{form.as_p}}
<p>
<button class="btn btn-large btn-theme margintop10" type="submit"  >Submit</button>
{% else %}
<p>
Only Nation Builder Team can Verify.
<br/> 
{% endif %}           
<a class="btn btn-large btn-theme margintop10" href = "{% url 'home' %}" > Back </a>
</p>
</form>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        </div>

</section>
</div>
{% endblock content %}


  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src=" {% static 'js/jquery.js' %} "></script>
  <script src=" {% static 'js/jquery.easing.1.3.js' %} "></script>
  <script src=" {% static 'js/bootstrap.js' %} "></script>
  <script src=" {% static 'js/jcarousel/jquery.jcarousel.min.js' %} "></script>
  <script src=" {% static 'js/jquery.fancybox.pack.js' %} "></script>
  <script src=" {% static 'js/jquery.fancybox-media.js' %} "></script>
  <script src=" {% static 'js/google-code-prettify/prettify.js' %} "></script>
  <script src=" {% static 'js/portfolio/jquery.quicksand.js' %} "></script>
  <script src=" {% static 'js/portfolio/setting.js' %} "></script>
  <script src=" {% static 'js/jquery.flexslider.js' %} "></script>
  <script src=" {% static 'js/jquery.nivo.slider.js' %} "></script>
  <script src=" {% static 'js/modernizr.custom.js' %} "></script>
  <script src=" {% static 'js/jquery.ba-cond.min.js' %} "></script>
  <script src=" {% static 'js/jquery.slitslider.js' %} "></script>
  <script src=" {% static 'js/animate.js' %} "></script>

  <!-- Contact Form JavaScript File -->
  <script src=" {% static 'contactform/contactform.js' %} "></script>

  <!-- Template Custom JavaScript File -->
  <script src="js/custom.js"></script>

