{% extends "base.html" %}
{% load static %}    
{% block content %}
    
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Get in touch</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li class="active">Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <iframe src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Banaja%20hill%2C%20Road%20no%2012%2CHyderabad%2C%20Telangana%2C%20India+(Tech-amare)&ie=UTF8&t=&z=14&iwloc=B&output=embed" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4>Get in touch with us by filling <strong>contact form below</strong></h4>

            <form action="" method="post" role="form" class="contactForm">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

              <div class="row">
                <div class="span4 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="span4 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="span4 form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="span12 margintop10 form-group">
                  <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                  <p class="text-center">
                    <button class="btn btn-large btn-theme margintop10" type="submit">Submit message</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}

{% block javascript %}
  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src=" {% static 'js/jquery.js' %} "></script>
  <script src=" {% static 'js/jquery.easing.1.3.js' %} "></script>
  <script src=" {% static 'js/bootstrap.js' %} "></script>
  <script src=" {% static 'js/jcarousel/jquery.jcarousel.min.js' %} "></script>
  <script src=" {% static 'js/jquery.fancybox.pack.js' %} "></script>
  <script src=" {% static 'js/jquery.fancybox-media.js' %} "></script>
  <script src=" {% static 'js/google-code-prettify/prettify.js' %} "></script>
  <script src=" {% static 'js/portfolio/jquery.quicksand.js' %} "></script>
  <script src=" {% static 'js/portfolio/setting.js' %} "></script>
  <script src=" {% static 'js/jquery.flexslider.js' %} "></script>
  <script src=" {% static 'js/jquery.nivo.slider.js' %} "></script>
  <script src=" {% static 'js/modernizr.custom.js' %} "></script>
  <script src=" {% static 'js/jquery.ba-cond.min.js' %} "></script>
  <script src=" {% static 'js/jquery.slitslider.js' %} "></script>
  <script src=" {% static 'js/animate.js' %} "></script>

  <!-- Contact Form JavaScript File -->
  <script src=" {% static 'contactform/contactform.js' %} "></script>

  <!-- Template Custom JavaScript File -->
  <script src="js/custom.js"></script>

{% endblock javascript %}
