{% extends "base.html" %}
{% load static %}    
{% block content %}
    
    <section id="featured">
      <!-- start slider -->
      <!-- Slider -->
      <div id="nivo-slider">
        <div class="nivo-slider">
          <!-- Slide #1 image -->
          <img src="{% static 'img/apps/child-bg-4.jpg' %} " alt="" title="#caption-1" />
          <!-- Slide #2 image -->
          <img src="{% static 'img/apps/child-bg-5.jpg' %}  " alt="" title="#caption-2" />
          <!-- Slide #3 image -->
          <img src=" {% static 'img/apps/child-bg-6.jpg' %} " alt="" title="#caption-3" />
        </div>
        <div class="container">
          <div class="row">
            <div class="span12">
              <!-- Slide #1 caption -->
              <div class="nivo-caption" id="caption-1">
                <div>
                  <h2><strong>Eradicating </strong>child labour</h2>
                  <p>
                    We intend to eradicate child labour with the help of people.We work with the moto of "from the soceity, by the society and to the society"
                  </p>
                </div>
              </div>
              <!-- Slide #2 caption -->
              <div class="nivo-caption" id="caption-2">
                <div>
                  <h2><strong>Educating </strong>children</h2>
                  <p>
                We intend to en-rich the children with education. So, they can achieve their dreams.

                  </p>
                </div>
              </div>
              <!-- Slide #3 caption -->
              <div class="nivo-caption" id="caption-3">
                <div>
                  <h2><strong>Fund </strong> raisers</h2>
                  <p>
                  We the fund raiser will support the children financially for them to settle in their life.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end slider -->
    </section>
    
    <section class="callaction">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="big-cta">
              <div class="cta-text">
                <h3>We can create an  <span class="highlight"><strong>Educated Nation </strong></span> !</h3>
              </div>
              <div class="cta floatright">
                <a class="btn btn-large btn-theme btn-rounded" href=" {% url 'children-create' %} "> Send Child Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-briefcase icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>In Corporate business</h6>
                    <p>
                      The Best Corporate business which will increase in the income of nation.
                    </p>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-desktop icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6> In Technology</h6>
                    <p>
                      The Best Media Editors, Software Developers, Digital Testers,etc. to the Nation.
                    </p>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-beaker icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>In Science</h6>
                    <p>
                      The best Agronomist, Astronomer, Botanist, Cytologist , Epidemiologist, Ethologist, Geneticist,etc.
                    </p>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-coffee icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6> An Entrepreneur</h6>
                    <p>
                    The Best Entrepreneurship, Intrapreneurship, Managers to the Nation.
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        <!-- Portfolio Projects -->
        <div class="row">
          <div class="span12">
            <h4 class="heading">Some of the <strong> Childrens</strong></h4>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">
                  <!-- Item Project and Filter Name -->
                    <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Engineer's" href="{% static 'img/works/full/image-01-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src=" {% static 'img/works/thumbs/image-01.jpg' %} " >
                  </li> 
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                    <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Entrepreneur" href="{% static 'img/works/full/image-02-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src=" {% static 'img/works/thumbs/image-02.jpg' %} " >
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Civil Engineer's" href="{% static 'img/works/full/image-03-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src=" {% static 'img/works/thumbs/image-03.jpg' %} " >
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountainer" href="{% static 'img/works/full/image-04-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src=" {% static 'img/works/thumbs/image-04.jpg'  %} ">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-4" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Rock Star" href="{% static 'img/works/full/image-05-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src=" {% static 'img/works/thumbs/image-05.jpg' %} ">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-5" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountainer" href="{% static 'img/works/full/image-06-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src=" {% static 'img/works/thumbs/image-06.jpg' %} " >
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Artist" href="{% static 'img/works/full/image-07-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src=" {% static 'img/works/thumbs/image-07.jpg' %} " >
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Designer" href="{% static 'img/works/full/image-08-full.jpg' %}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src=" {% static 'img/works/thumbs/image-08.jpg' %} " >
                  </li>
                  <!-- End Item Project -->
                </ul>
              </section>
            </div>
          </div>
        </div>
        <!-- End Portfolio Projects -->
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        <div class="row">
          <div class="span12">
            <h4>Some of the <strong>NGOs</strong></h4>
            <ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients">
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client1.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client2.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client3.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client4.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client5.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client6.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client1.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src="{% static 'img/dummies/clients/client2.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client3.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client4.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client5.png' %} " class="client-logo" alt="" />
					</a>
              </li>
              <li>
                <a href="#">
					<img src=" {% static 'img/dummies/clients/client6.png' %} " class="client-logo" alt="" />
					</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}
{% block javascript %}
  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src=" {% static 'js/jquery.js' %} "></script>
  <script src=" {% static 'js/jquery.easing.1.3.js' %} "></script>
  <script src=" {% static 'js/bootstrap.js' %} "></script>
  <script src=" {% static 'js/jcarousel/jquery.jcarousel.min.js' %} "></script>
  <script src=" {% static 'js/jquery.fancybox.pack.js' %} "></script>
  <script src=" {% static 'js/jquery.fancybox-media.js' %} "></script>
  <script src=" {% static 'js/google-code-prettify/prettify.js' %} "></script>
  <script src=" {% static 'js/portfolio/jquery.quicksand.js' %} "></script>
  <script src=" {% static 'js/portfolio/setting.js' %} "></script>
  <script src=" {% static 'js/jquery.flexslider.js' %} "></script>
  <script src=" {% static 'js/jquery.nivo.slider.js' %}"></script>
  <script src=" {% static 'js/modernizr.custom.js' %}"></script>
  <script src=" {% static 'js/jquery.ba-cond.min.js' %} "></script>
  <script src=" {% static 'js/jquery.slitslider.js' %} "></script>
  <script src=" {% static 'js/animate.js' %}"></script>

  <!-- Template Custom JavaScript File -->
  <script src=" {% static 'js/custom.js' %} "></script>
{% endblock javascript %}
  